name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        version: '1.0.1'

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Read package.json
          id: package-version
          uses: tyankatsu0105/read-package-version-actions@v1
          with:
            path: "./package.json"
          run: echo "Version is ${{ steps.package-version.outputs.version }}"

      - name: Build/release Electron app
        id: build-release
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.github_token }}
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}

      - name: Create Release
        id: create-release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.package-version.outputs.version }}
          release_name: Release ${{ matrix.os }}@${{ steps.package-version.outputs.version }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: true
