name: Build/release

on: 
  push:
    

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest] # [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 12
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npm install
      - run: npm run postinstall
      - run: npm run electron:build
        
      - name: Read package.json
        uses: tyankatsu0105/read-package-version-actions@v1
        id: package-version
        
      - name: Show version 
        run: |
          echo "Version is ${{ steps.package-version.outputs.version }}"

      - name: Create Release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Pre-Release ${{ matrix.os }}@${{ steps.package-version.outputs.version }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: true
      
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: "./release/Ongaku-${{ steps.package-version.outputs.version }}.AppImage"
          asset_name: "Ongaku-${{ steps.package-version.outputs.version }}.AppImage"
          asset_content_type: application/zip
